/*----General settings----*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.4;
}

body {
    height: 100%;
    width: 100%;
    grid-template-rows: auto 3fr auto;
    background-color: #fff;
}

header, footer, main #lessons, main #clients {
    width: 80%;
    padding: 0 10%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.green-font {
    color: #4CAF4F;
}

.gray-font {
    color: #717171;
}

.green-button {
    background-color: #4CAF4F;
    color: #FFFFFF;
    padding: 10px 20px;
}

/*----Header----*/
header {
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #F5F7FA;
}

header .flex {
    align-items: center;
}

/*Nav*/
nav ul {
    width: 100%;
    justify-content: space-between;
}

nav ul .selected {
    font-weight: bold;
}

/*Log in and Sign up*/
header #logs {
    justify-content: end;
    gap: 20px;
}

header #logs .green-button {
    border-radius: 6px;
}

/*----Main----*/
/*Lessons*/
main #lessons {
    background-color: #F5F7FA;
    padding-top: 3%;
    padding-bottom: 4%;
    grid-template-columns: 2fr 1fr;
}

main #lessons h1 {
    font-size: 4.5rem;
}

main #lessons #lessons-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

main #lessons #lessons-article .green-button {
    border-radius: 4px;
}

/*Clients*/
main #clients {
    padding-top: 3%;
    grid-template-rows: 1fr 2fr;
    gap: 50px;
}

main #clients h2 {
    font-size: 2.5rem;
}

main #clients #clients-clients, main #clients #clients-community {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

main #clients .gray-font {
    font-size: 1.2rem;
}

main #clients #clients-clients #clients-imgs, main #clients #clients-community #manage {
    width: 100%;
    padding-top: 50px;
    justify-content: space-between;
}

main #clients #clients-community #manage div {
    width: 18%;
}

main #clients #clients-community #manage h3 {
    font-size: 2rem;
}