/*----General settings----*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.4;
}

body {
    height: 100%;
    width: 100%;
    grid-template-rows: auto 3fr auto;
    background-color: #fff;
}

header, footer, main #lessons, main #clients, main #unseen, main #numbers, main #design, main #costumers, main #marketing, main #demo, footer {
    width: 80%;
    padding: 0 10%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.green-font {
    color: #4CAF4F;
}

.gray-font {
    color: #717171;
}

.green-button {
    background-color: #4CAF4F;
    color: #FFFFFF;
    padding: 10px 20px;
}

.green-button:hover {
    background-color: #fff;
    border: 2px solid #4CAF4F;
    color: #4CAF4F;
    padding: 8px 18px;
}

.heading {
    font-size: 2.5rem;
}

/*----Header----*/
header {
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #F5F7FA;
}

header #header-img {
    display: flex;
    align-items: center;
}

header #header-img img {
    height: auto;
    width: 70%;
}

header .flex {
    align-items: center;
}

/*Nav*/
nav ul {
    width: 100%;
    justify-content: space-between;
}

nav ul .selected {
    font-weight: bold;
}

/*Log in and Sign up*/
header #logs {
    justify-content: end;
    gap: 20px;
}

header #logs .green-button {
    border-radius: 6px;
}

/*----Main----*/
/*Lessons*/
main #lessons {
    background-color: #F5F7FA;
    padding-top: 3%;
    padding-bottom: 4%;
    grid-template-columns: 2fr 1fr;
}

main #lessons h1 {
    font-size: 4.5rem;
}

main #lessons #lessons-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

main #lessons #lessons-article .green-button {
    border-radius: 4px;
}

main #lessons #lessons-img img {
    height: auto;
    width: 100%;
}

/*Clients*/
main #clients {
    padding-top: 3%;
    padding-bottom: 4%;
    grid-template-rows: 1fr 2fr;
    gap: 50px;
}

main #clients #clients-clients, main #clients #clients-community {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

main #clients .gray-font {
    font-size: 1.2rem;
}

main #clients #clients-clients #clients-imgs, main #clients #clients-community #manage {
    width: 100%;
    padding-top: 50px;
    justify-content: space-between;
}

main #clients #clients-community #manage div {
    width: 18%;
}

main #clients #clients-community #manage h3 {
    font-size: 2rem;
}

/*Unseen*/ /*Design*/
main #unseen, main #design {
    grid-template-columns: 1fr 1fr;
    padding-top: 3%;
    padding-bottom: 4%;
}

main #unseen #unseen-img img, main #design img {
    height: auto;
    width: 100%;
}

main #unseen .flex, main #design .flex {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

main #unseen .flex a, main #design .flex a {
    border-radius: 4px;
}

/*Numbers*/
main #numbers {
    grid-template-columns: 1fr 1fr;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #F5F7FA;
}

main #numbers .grid {
    grid-template-columns: 1fr 1fr;
}

main #numbers h3 {
    font-size: 2rem;
}



main #numbers .gray-font {
    font-size: calc(1rem + 2px);
}

/*Costumers*/
main #costumers {
    width: 50%;
    padding: 4% 25%;
    background-color: #F5F7FA;
}

main #costumers h3 {
    margin-top: 20px;
}

main #costumers #costumers-costumers {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

main #costumers .green-font {
    font-size: 1.4rem;
}

/*Marketing*/
main #marketing {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

main #marketing #marketing-heading {
    width: 50%;
    padding: 0 25%;
}

main #marketing #marketing-readmore {
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

main #marketing #marketing-readmore div {
    width: 20%;
    padding: 2% 2%;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #F5F7FA;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #c0c0c0;
}

main #marketing #marketing-readmore div:hover {
    background-color: #717171;
    .gray-font {
        color: #F5F7FA;
    }
}

/*Demo*/
main #demo {
    width: 50%;
    padding: 4% 25%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
}

main #demo h2 {
    font-size: 4rem;
}

main #demo a {
    border-radius: 4px;
}

/*----Footer----*/

footer {
    grid-template-columns: 1fr 2fr;
    background-color: #263238;
    padding-top: 4%;
    padding-bottom: 4%;
}

footer p, footer li a, footer h3 {
    color: #fff;
}

footer #footer-social {
    flex-direction: column;
    justify-content: space-between;
}

footer #footer-social #footer-img img {
    width: 75%;
    height: auto;
}

footer #footer-links {
    justify-content: space-around;
}

footer #footer-links h3 {
    margin-bottom: 20px;
}

footer #footer-links ul li {
    margin-bottom: 10px;
}

footer #footer-links form input{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(355, 355, 355, 0.3);
    color: #fff;
}

/*Tablet responsive*/
@media (max-width: 1024px) {
    :root {
        font-size: 12px;
    }

    nav ul{
        flex-wrap: wrap;
        gap: 20px;
    }

    header #logs {
        flex-direction: column;
        justify-content: center;
    }

    main #clients #clients-community #manage h3 {
        font-size: 1.7rem;
    }

    main #numbers {
        grid-template-columns: 1fr;
    }

    main #numbers h2 {
        font-size: 1.8rem;
    }

    main #numbers .grid {
        margin-top: 20px;
    }

    main #numbers h3 {
        font-size: 1.5rem;
    }

    main #numbers img {
        width: 20%;
        height: auto;
    }

    main #marketing #marketing-readmore div {
        font-size: 1rem;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    footer #footer-links {
        flex-wrap: wrap;
        gap: 20px;
    }
}

/*Phone responsive*/
@media (max-width: 780px) {
    :root {
        font-size: 10px;
    }

    header #logs .green-button {
        padding: 5px 10px;
    }

    main #clients #clients-community #manage h3 {
        font-size: 1.4rem;
    }

    main #marketing #marketing-readmore div {
        font-size: calc(1rem - 3px);
    }
}